
body{
	font-family: 'Mitr', sans-serif;
	color: white;
	margin: 0;
	padding: 0;
}
h1{
	font-size: 8.5rem;
}
h2{
	font-size: 7rem;
}
p{
	font-family: 'Bai Jamjuree', sans-serif;
	font-weight: 500;
	line-height: 160%;
	font-size: 1.15rem;
}
.flex-center{
	display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.container{
	max-width: 1920px;
	margin: 0;
	padding: 0;
}	

.fullscreen{
	width: 100%;
	height: 100vh;
}

.first-bg{
	background-image: url(img/BG1.JPG);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
}

.title{
	font-weight: 600;
	-webkit-text-stroke: 2px black;
	line-height: 80%;
}

.thin{
	font-weight: 300;
	font-size: 6rem;
}

.next-page{
	font-size: 1.5rem;
	font-weight: 300;
	text-shadow: 3px 3px 10px black ;
	text-decoration: none;
	color: white;
	cursor: pointer;
}

.logo{
	width: 6.5%;
    position: absolute;
	right: 1%;
	top: 1%;
}

.inline-block{
	display: inline-block;
}

.fullscreen{
	width: 100%;
	height: 100vh;
}

.text-center{
	text-align: center;
}
.mt-1{
	margin-top: 1rem;
}
.mt-2{
	margin-top: 2rem;
}
.mt-3{
	margin-top: 3rem;
}
.mt-4{
	margin-top: 4rem;
}

.block-1{
	width: 35vw;
	height: auto;
	background: #FFF6C2;
	color: black;
	border-radius: 34px;
	margin: auto;
	align-items: center;
	padding: 15px 30px;
}

.second-bg{
	background: #FFF6C2;
	width: 100%;
	height: 100vh;
}

.mp-0{
	margin: 0;
	padding: 0;
}

.index{
	z-index: auto;
	position: absolute;
}

#parallexText{
	width: 100%;
	height: 100vh;
}

.cloud{
	background-image: url(img/paralax\ clound.PNG);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
}

.sun{
	background-image: url(img/paralax\ sun.PNG);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
}

.mountain1{
	background-image: url(img/paralax\ mt.PNG);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
}

.mountain2{
	background-image: url(img/paralax\ mt2.PNG);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
}

.ground1{
	background-image: url(img/paralax\ 1.PNG);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
}

#loader{
	z-index: 1;
	position: absolute;
}